@define-color color0 #1e1e2e;
@define-color color1 #181825;
@define-color color2 #313244;
@define-color color3 #45475a;
@define-color color4 #585b70;
@define-color color5 #cdd6f4;
@define-color color6 #f5e0dc;
@define-color color7 #b4befe;
@define-color color8 #f38ba8;
@define-color color9 #fab387;
@define-color color10 #1e1e2e;
@define-color color11 #1e1e2e;
@define-color color12 #f38ba8;
@define-color color13 #fab387;
@define-color color14 #a6e3a1;
@define-color color15 #94e2d5;

@define-color bg @color0;
@define-color fg @color6;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

window {
    background-color: transparent;
    border: 0;
    margin: 0px 2px;
}

/*
* Center part
*/


#workspaces {
    background-color: transparent;
}

#workspaces button {
    all: initial;
    padding: 7px;
    margin: 6px 3px;
    border-radius: 999px;
    background-color: @bg;
    color: @fg;
    box-shadow: inset 1px 1px @color5;

    transition-property: box-shadow, background-color;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;

}

#workspaces button label {
    font-size: 0;
    padding: 5px;
    background-color: @color5;
    border-radius: 999px;

    transition-property: background-color;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

#workspaces button.visible {
    box-shadow: inset -1px -1px @color14;
}

#workspaces button.visible label {
    background-color: @color14;
}

#workspaces button.active {
    box-shadow: inset -1px -1px @color9;
}

#workspaces button.active label {
    background-color: @color9;
}

#workspaces button:hover {
    background-color: @color4;
}

/*
* Left/Right part
*/
#pulseaudio,
#network,
#cpu,
#memory,
#backlight,
#language,
#battery,
#clock,
#tray {
    padding: 0px 8px;
    color: @fg;
    border-radius: 999px;
    background-color: @bg;
    box-shadow: inset 1px 1px @color5;
}

