snippet bsm "bindsym with mod key"
bindsym \$mod+$1 $2
$0
endsnippet

snippet mode "new wm mode"
bindsym \$mod+$1 mode "$2"
mode "$2" {
	$0

	bindsym Escape mode "default"
	bindsym space mode "default"
}
endsnippet
