@define-color bg #1C1E26;
@define-color fg #BABABA;

@define-color color0  #161610;
@define-color color1  #1A1C23;
@define-color color2  #1C1E26;
@define-color color3  #232530;
@define-color color4  #2E303E;
@define-color color5  #6C6F93;
@define-color color6  #E9436F;
@define-color color7  #E95379;
@define-color color8  #F43E5C;
@define-color color9  #09F7A0;
@define-color color10 #27D796;
@define-color color11 #21BFC2;
@define-color color12 #FAB28E;
@define-color color13 #B877DB;
@define-color color14 #25B2BC;
@define-color color15 #E95678;
@define-color color16 #F09383;
@define-color color17 #FAB795;
@define-color color18 #FAC29A;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

window {
    background-color: transparent;
    border: 0;
    margin: 0px 2px;
}

/*
* Center part
*/


#workspaces {
    background-color: transparent;
}

#workspaces button {
    all: initial;
    padding: 7px;
    margin: 6px 3px;
    border-radius: 999px;
    background-color: @bg;
    color: @fg;
    box-shadow: inset 1px 1px @color5;

    transition-property: box-shadow, background-color;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;

}

#workspaces button label {
    font-size: 0;
    padding: 5px;
    background-color: @color5;
    border-radius: 999px;

    transition-property: background-color;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

#workspaces button.visible {
    box-shadow: inset -1px -1px @color14;
}

#workspaces button.visible label {
    background-color: @color14;
}

#workspaces button.active {
    box-shadow: inset -1px -1px @color9;
}

#workspaces button.active label {
    background-color: @color9;
}

#workspaces button:hover {
    background-color: @color4;
}

/*
* Left/Right part
*/
#pulseaudio,
#network,
#cpu,
#memory,
#backlight,
#language,
#battery,
#clock,
#tray {
    padding: 0px 8px;
    color: @fg;
    border-radius: 999px;
    background-color: @bg;
    box-shadow: inset 1px 1px @color5;
}

